<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<section name="Services" type="VersionOne.ServiceHost.ServicesConfigurationHandler,VersionOne.ServiceHost.Core"/>
	</configSections>

	<appSettings>
		<add key="StartUpEvent" value="VersionOne.ServiceHost.TestServices.Mercury.QTPReaderService+MercuryEventSink, VersionOne.ServiceHost.TestServices"/>
	</appSettings>

	<Services>

    <!-- 
      Listen for LogMessage events and log them to file and/or console. LogLevel values define minimal level of logged events.
      Valid log levels, in ascending order: Debug, Info, Error. 
    -->
    <LogService class="VersionOne.ServiceHost.Core.Logging.LogService, VersionOne.ServiceHost.Core">
      <!-- Set enabled attribute value to 0 to disable console logging. -->
      <Console enabled="1">
        <LogLevel>Debug</LogLevel>
      </Console>
      <!-- Set enabled attribute value to 0 to disable file logging. -->
      <File enabled="1">
        <LogLevel>Info</LogLevel>
        <!-- File name to log messages, either absolute or relative -->
        <Filename>.\ServiceHost.log</Filename>
        <!-- Maximum log file size. The file will never extend the limit as older messages are truncated. Valid size values examples: 100KB, 500KB, 10MB. -->
        <MaximumFileSize>10MB</MaximumFileSize>
      </File>
    </LogService>

		<!-- 
			Read Test Results from Mercury Quick Test Pro
			Watch a path under the folder specified in "Watch"
			Filter on Files matching "Filter"
		-->
		<QTPReaderService class="VersionOne.ServiceHost.TestServices.Mercury.QTPReaderService, VersionOne.ServiceHost.TestServices">
			<Watch>D:\Dev\V1\Mercury</Watch>
			<Filter>Results.xml</Filter>
			<SuiteName>System</SuiteName>
		</QTPReaderService>

		<!-- 
			Update Tests in VersionOne 
			Settings are passed to V1Central for configuring VersionOne API Connectivity
			PassedOid is the Oid from a VersionOne system to set a VersionOne Test Asset to when a corresponding Test is passing
			FailedOid is the Oid from a VersionOne system to set a VersionOne Test Asset to when a corresponding Test is failing
		-->
		<TestWriterService class="VersionOne.ServiceHost.TestServices.TestWriterService, VersionOne.ServiceHost.TestServices">
			<Settings>
				<ApplicationUrl>http://localhost/VersionOne.Web/</ApplicationUrl>
				<Username>admin</Username>
				<Password>admin</Password>
				<APIVersion>6.5.0.0</APIVersion>
				<IntegratedAuth>false</IntegratedAuth>
			</Settings>
			<PassedOid>TestStatus:129</PassedOid>
			<FailedOid>TestStatus:155</FailedOid>
			<TestReferenceAttribute>Reference</TestReferenceAttribute>
			<ChangeComment>Updated by VersionOne.ServiceHost</ChangeComment>
			<!-- Embedded Rich Text (HTML) is valid in this suffix -->
			<DescriptionSuffix>Check the external test system for more details.</DescriptionSuffix>
			<!-- Valid values are All, CurrentIteration, None -->
			<CreateDefect>All</CreateDefect>
		</TestWriterService>

	</Services>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
