<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="Installer" type="VersionOne.ServiceHost.InstallerConfigurationHandler,VersionOne.ServiceHost"/>
    <section name="Services" type="VersionOne.ServiceHost.ServicesConfigurationHandler,VersionOne.ServiceHost.Core"/>
  </configSections>

  <appSettings>
    <add key="Debug" value="false"/>
    <add key="DebugFileName" value="C:\temp\VersionOneAPIClientDebug.txt"/>
  </appSettings>

  <Installer>
    <ShortName>V1JIRA</ShortName>
    <LongName>VersionOne Integration for JIRA</LongName>
  </Installer>

  <Services>

    <!-- 
      Listen for LogMessage events and log them to file and/or console. LogLevel values define minimal level of logged events.
      Valid log levels, in ascending order: Debug, Info, Error. 
    -->
    <LogService class="VersionOne.ServiceHost.Core.Logging.LogService, VersionOne.ServiceHost.Core">
      <!-- Set enabled attribute value to 0 to disable console logging. -->
      <Console enabled="1">
        <LogLevel>Debug</LogLevel>
      </Console>
      <!-- Set enabled attribute value to 0 to disable file logging. -->
      <File enabled="1">
        <LogLevel>Info</LogLevel>
        <!-- File name to log messages, either absolute or relative -->
        <Filename>.\ServiceHost.log</Filename>
        <!-- Maximum log file size. The file will never extend the limit as older messages are truncated. Valid size values examples: 100KB, 500KB, 10MB. -->
        <MaximumFileSize>10MB</MaximumFileSize>
      </File>
    </LogService>

    <!-- Timer that flushes Profile periodically -->
    <ProfileFlushTimer class="VersionOne.ServiceHost.Core.Services.TimePublisherService,VersionOne.ServiceHost.Core">
      <Interval>1000</Interval>
      <PublishClass>VersionOne.ServiceHost.CommonMode+FlushProfile,VersionOne.ServiceHost.Core</PublishClass>
    </ProfileFlushTimer>

    <!-- Configuration for JIRA Service -->
    <JiraService disabled="0" class="VersionOne.ServiceHost.JiraServices.JiraHostedService, VersionOne.ServiceHost.JiraServices">

      <!-- JIRA Connectivity -->
      <JIRAUrl>http://jira-64.cloudapp.net:8080/rest/api/latest</JIRAUrl>
      <JIRAUserName>admin</JIRAUserName>
      <JIRAPassword>admin</JIRAPassword>

      <CreateDefectFilter disabled="0" id="10300"/>
      <!--Id of the filter used to find issues to be created as V1 defects -->
      <CreateStoryFilter disabled="0" id="10200"/>
      <!--Id of the filter used to find issues to be created as V1 stories -->

      <!-- Fields to update to prevent creating multiple workitems in V1 -->
      <!-- Not all of these fields are required, consult the documentation on how to set them -->
      <CreateFieldId>customfield_10000</CreateFieldId>
      <!-- ID of JIRA field to update when a V1 workitem is created -->
      <CreateFieldValue>Open</CreateFieldValue>
      <!-- Value to set in CreateFieldId -->
      <CloseFieldId>customfield_10000</CloseFieldId>
      <!-- ID of JIRA field to update when a V1 workitem is closed -->
      <CloseFieldValue>Closed</CloseFieldValue>
      <!-- Value to set in CloseFieldId -->
      <ProgressWorkflow>11</ProgressWorkflow>
      <!-- ID of JIRA status to set after a V1 workitem is created -->
      <ProgressWorkflowClosed>151</ProgressWorkflowClosed>
      <!-- ID of JIRA status to set after a V1 workitem is closed -->
      <AssigneeStateChanged>-1</AssigneeStateChanged>
      <!-- Name to set the assignee to field to when a V1 workitem is closed (optional) Note: In JIRA 3.10.2 a value of -1 caused 'Automatic' assignment -->

      <!-- These elements are used to create a link in VersionOne to JIRA issue (we replace #key# with JIRA Issue id) -->
      <JIRAIssueUrlTemplate>http://jira-64.cloudapp.net:8080/browse/#key#</JIRAIssueUrlTemplate>
      <JIRAIssueUrlTitle>JIRA</JIRAIssueUrlTitle>

      <!-- What to set the 'Source' field to. Make sure this value exists in VersionOne. -->
      <SourceFieldValue>JIRA</SourceFieldValue>

      <!-- ID of Jira field that will hold the VersionOne workitem URL (optional - this information also appears in the comment) -->
      <WorkitemLinkFieldId></WorkitemLinkFieldId>

      <!-- Mapping for projects from JIRA to VersionOne -->
      <ProjectMappings>
        <Mapping>
          <JIRAProject>JIRA Integration Test</JIRAProject>
          <VersionOneProject id="Scope:6991"></VersionOneProject>
        </Mapping>
      </ProjectMappings>

      <!-- 
           Issue priority mappings. 
           If a mapping of JIRA to VersionOne priority is omitted here, created VersionOne defects do not have any priority set. 
       -->
      <PriorityMappings>
        <Mapping>
          <JIRAPriority id="1">Blocker</JIRAPriority>
          <VersionOnePriority id="WorkitemPriority:140">High</VersionOnePriority>
        </Mapping>
        <Mapping>
          <JIRAPriority id="3">Major</JIRAPriority>
          <VersionOnePriority id="WorkitemPriority:139">Medium</VersionOnePriority>
        </Mapping>
        <Mapping>
          <JIRAPriority id="5">Trivial</JIRAPriority>
          <VersionOnePriority id="WorkitemPriority:138">Low</VersionOnePriority>
        </Mapping>
      </PriorityMappings>
    </JiraService>

    <!-- Jira Poll Timer -->
    <JiraServiceTimer disabled="0" class="VersionOne.ServiceHost.Core.Services.TimePublisherService, VersionOne.ServiceHost.Core">
      <Interval>5000</Interval>
      <PublishClass>VersionOne.ServiceHost.JiraServices.JiraHostedService+IntervalSync, VersionOne.ServiceHost.JiraServices</PublishClass>
    </JiraServiceTimer>

    <!-- Write Workitems to VersionOne, and retrieves Jira-sourced Workitems that have recently closed -->
    <WorkitemWriterService disabled="0" class="VersionOne.ServiceHost.WorkitemServices.WorkitemWriterHostedService, VersionOne.ServiceHost.WorkitemServices">
      <!-- VersionOne field used to hold the Jira Issue identifier.  This can be any text field, including custom fields. -->
      <ExternalIdFieldName>Reference</ExternalIdFieldName>
      <Settings>
        <AuthenticationType>0</AuthenticationType>
        <!--0 = AccessToken, 1 = Basic, 2 = Integrated, 3 = Integrated with username and password-->
        <ApplicationUrl>https://www11.v1host.com/V1Integrations</ApplicationUrl>
        <AccessToken>1.DxVCpH5EiM1MszZq255gBrj15R0=</AccessToken>
        <Username>admin</Username>
        <Password>admin1234</Password>
        <APIVersion>7.2.0.0</APIVersion>
        <ProxySettings disabled="1">
          <Url>http://proxyhost</Url>
          <UserName>username</UserName>
          <Password>password</Password>
          <Domain>domain</Domain>
        </ProxySettings>
      </Settings>
    </WorkitemWriterService>

  </Services>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
