<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="Installer" type="VersionOne.ServiceHost.InstallerConfigurationHandler,VersionOne.ServiceHost"/>
    <section name="Services" type="VersionOne.ServiceHost.ServicesConfigurationHandler,VersionOne.ServiceHost.Core"/>
  </configSections>

  <Installer>
    <ShortName>V1JIRA</ShortName>
    <LongName>VersionOne Integration for JIRA</LongName>
  </Installer>

  <Services>

    <!-- 
      Listen for LogMessage events and log them to file and/or console. LogLevel values define minimal level of logged events.
      Valid log levels, in ascending order: Debug, Info, Error. 
    -->
    <LogService class="VersionOne.ServiceHost.Core.Logging.LogService, VersionOne.ServiceHost.Core">
      <!-- Set enabled attribute value to 0 to disable console logging. -->
      <Console enabled="1">
        <LogLevel>Debug</LogLevel>
      </Console>
      <!-- Set enabled attribute value to 0 to disable file logging. -->
      <File enabled="1">
        <LogLevel>Info</LogLevel>
        <!-- File name to log messages, either absolute or relative -->
        <Filename>.\ServiceHost.log</Filename>
        <!-- Maximum log file size. The file will never extend the limit as older messages are truncated. Valid size values examples: 100KB, 500KB, 10MB. -->
        <MaximumFileSize>10MB</MaximumFileSize>
      </File>
    </LogService>

    <!-- Timer that flushes Profile periodically -->
    <ProfileFlushTimer class="VersionOne.ServiceHost.Core.Services.TimePublisherService,VersionOne.ServiceHost.Core">
      <Interval>1000</Interval>
      <PublishClass>VersionOne.ServiceHost.CommonMode+FlushProfile,VersionOne.ServiceHost.Core</PublishClass>
    </ProfileFlushTimer>

    <!-- Configuration for JIRA Service -->
    <JiraService disabled="0" class="VersionOne.ServiceHost.JiraServices.JiraHostedService, VersionOne.ServiceHost.JiraServices">
      
      <!-- JIRA Connectivity -->
      <JIRAUrl>http://jira-6.cloudapp.net:8080/rpc/soap/jirasoapservice-v2</JIRAUrl>
      <JIRAUserName>admin</JIRAUserName>
      <JIRAPassword>admin</JIRAPassword>

      <CreateDefectFilter disabled="0" id="10101"/>     <!--Id of the filter used to find issues that need to have defects created-->
      <CreateStoryFilter disabled="0" id="10102"/>      <!--Id of the filter used to find issues that need to have stories created-->

      <!-- Fields to update to prevent creating multiple Workitems in VersionOne -->
      <!-- Not all of these fields are required, consult the documentation on how to set them -->
      <CreateFieldId>customfield_10001</CreateFieldId>  <!-- ID of JIRA field to update when a V1 defect is created -->
      <CreateFieldValue>Open</CreateFieldValue>         <!-- Value to set in CreateFieldId -->
      <CloseFieldId>customfield_10001</CloseFieldId>    <!-- ID of JIRA field to update when a V1 defect is closed -->
      <CloseFieldValue>Closed</CloseFieldValue>         <!-- Value to set in CloseFieldId -->
      <ProgressWorkflow>21</ProgressWorkflow>            <!-- ID of JIRA Transition to set after a V1 defect is created -->
      <ProgressWorkflowClosed>31</ProgressWorkflowClosed><!-- ID of JIRA Transition to set after a V1 defect is closed -->
      <AssigneeStateChanged>-1</AssigneeStateChanged>   <!-- Name to set the assignee to field to when a V1 defect is closed (optional) Note: In JIRA 3.10.2 a value of -1 caused 'Automatic' assignment -->

      <!-- These elements are used to create a link in VersionOne to JIRA issue (we replace #key# with JIRA Issue id) -->
      <JIRAIssueUrlTemplate>http://jira-6.cloudapp.net:8080/browse/#key#</JIRAIssueUrlTemplate>
      <JIRAIssueUrlTitle>JIRA</JIRAIssueUrlTitle>

      <!-- What to set the 'Source' field to. Make sure this value exists in VersionOne. -->
      <SourceFieldValue>JIRA</SourceFieldValue>

      <!-- ID of Jira field that will hold the VersionOne workitem URL (optional - this information also appears in the comment) -->
      <WorkitemLinkFieldId></WorkitemLinkFieldId>

      <!-- Mapping for projects from JIRA to VersionOne -->
      <ProjectMappings>
        <Mapping>
          <JIRAProject>ScrumTest</JIRAProject>
          <VersionOneProject id="Scope:6991"></VersionOneProject>
        </Mapping>
      </ProjectMappings>

      <!-- 
           Issue priority mappings. 
           If a mapping of JIRA to VersionOne priority is omitted here, created VersionOne defects do not have any priority set. 
       -->
      <PriorityMappings>
        <Mapping>
          <JIRAPriority id="1">Blocker</JIRAPriority>
          <VersionOnePriority id="WorkitemPriority:140">High</VersionOnePriority>
        </Mapping>
        <Mapping>
          <JIRAPriority id="3">Major</JIRAPriority>
          <VersionOnePriority id="WorkitemPriority:139">Medium</VersionOnePriority>
        </Mapping>
        <Mapping>
          <JIRAPriority id="5">Trivial</JIRAPriority>
          <VersionOnePriority id="WorkitemPriority:138">Low</VersionOnePriority>
        </Mapping>
      </PriorityMappings>
    </JiraService>

    <!-- Jira Poll Timer -->
    <JiraServiceTimer disabled="0" class="VersionOne.ServiceHost.Core.Services.TimePublisherService, VersionOne.ServiceHost.Core">
      <Interval>2000</Interval>
      <PublishClass>VersionOne.ServiceHost.JiraServices.JiraHostedService+IntervalSync, VersionOne.ServiceHost.JiraServices</PublishClass>
    </JiraServiceTimer>

    <!-- Write Workitems to VersionOne, and retrieves Jira-sourced Workitems that have recently closed -->
    <WorkitemWriterService disabled="0" class="VersionOne.ServiceHost.WorkitemServices.WorkitemWriterHostedService, VersionOne.ServiceHost.WorkitemServices">
      <!-- VersionOne field used to hold the Jira Issue identifier.  This can be any text field, including custom fields. -->
      <ExternalIdFieldName>Reference</ExternalIdFieldName>
      <Settings>
        <ApplicationUrl>https://www11.v1host.com/V1Integrations</ApplicationUrl>
        <Username>admin</Username>
        <Password>admin1234</Password>
        <APIVersion>7.2.0.0</APIVersion>
        <IntegratedAuth>false</IntegratedAuth>
        <ProxySettings disabled="1">
          <Uri>http://proxyhost</Uri>
          <UserName>username</UserName>
          <Password>password</Password>
          <Domain>domain</Domain>
        </ProxySettings>
      </Settings>
    </WorkitemWriterService>

  </Services>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
